html{
    margin:0;
}
.canvas{
    margin: 20px auto 50px;
width: 100%;
text-align: center;
}
.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
}
span{
    margin-top: 20px;
}
#gray{
    background-color: gray;
}
#gray{
    background-color: gray;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#black{
    background-color: black;
}
#lime{
    background-color: lime;
}
#blue{
    background-color: blue;
}
#aqua{
    background-color: aqua;
}
#pink{
    background-color: pink;
}
#green{
    background-color: green;
}

div{
    margin-top: 30px;
    font-size: 20px;
}
#text{
   font-size:large;

}

#textSizeRange{
    margin-top: 30px;

}


#color{
    margin-top: 30px;

}

#fontfamily{
    margin-top: 30px;

}
footer{
    margin-top: 30px;

}
#b{
    padding: 10px 20px;
    color: white;
    background-color: blue;
    font-size: 20px;
}